{% extends 'base.html' %}

{% block main %}

<div class="container">
    <form method="post" hx-post="{% url 'all_blogs' %}" hx-target="#blog-wrapper">
        {% csrf_token %}
        <div class="row">
            <div class="col-10">
                <select name="filter" onchange="document.getElementById('sub-fil').click()" class="form-select">
                    <option value="all">All</option>
                    {% for category in cat %}
                        <option value="{{ category.0 }}">{{ category.0 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col" style="display:flex; justify-content: center; align-items: center;">
                <button id="sub-fil" type="submit" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg> Filter</button>
            </div>
        </div>
    </form>
    
</div>
<div id="blog-wrapper">
    {% include 'blog/partials/filter-res.html' with blogs=blogs %}
</div>

{% endblock %}